@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">QR Kod İşlemleri</h4>
        <div class="row">
            <div class="col-12 col-md-8">
                <form method="post" asp-action="Index" asp-controller="QRCode">
                    <input type="text" name="value" /><br /><br />
                    <input type="submit" value="QR Kod Oluştur" class="btn btn-warning" />
                    <br /><br />
                </form>
            </div>
            <div class="col-12 col-md-4">
                @if (ViewBag.QrCodeImage != null)
                {
                    <img src="@ViewBag.QrCodeImage" alt="" style="width:250px;height:250px" />
                }
            </div>
        </div>
    </div>
</div>
